
/* :root { */
	/* --font-family: roboto, arial, sans-serif; */
	/* --text-color: #03020f; */
	/* --text-size: 18px; */
/* } */
/* background-color: #282c34; */
/* background-color: #eee; */
/* color: var(--text-color); */
/* font-family: var(--font-family); */
/* font-size: var(--text-size); */


body {
	background-color: black;
}

figure,
.figure-img {
	margin: 0;
}

#App {
	background-color: white;
	min-height: 100vh;
	opacity: .9;
}

#Content {
	flex-grow: 1;
	height: 0;
	overflow-y: auto;
}

.text-right {
	text-align: right;
}
.pointer {
	cursor: pointer;
}
.plain-link {
	color: inherit;
	text-decoration: inherit;
}
.plain-link:hover {
	color: inherit;
	text-decoration: underline;
}
.centered-table th,
.centered-table td {
	text-align: center;
	vertical-align: middle;
}
.form-label {
	margin-bottom: .2rem;
}